# Business Understanding: NBA Last 2 Minute Analysis

Over the years, the relationship between the referees and the players in the National Basketball Association (NBA) has come to impasse. The players and coaches believe the referees are affecting the outcome of the games and showing bias. Players and coaches’ sentiment have also reached into the fan base where the fans are taking issues on how the games are being called by the referees. The NBA decided to implement the last two-minute report to help protect the integrity of the game. This report provides an assessment of officiated events that occurred in the last two minutes for every game that were at or within three points during any points of the last two minutes of the fourth quarter and overtime. The plays assessed include all calls and all notable non calls. Non calls are defined as material plays directly related to the outcome of a possession. This report was the NBA's first step to total transparency. The main outcome that the NBA is concerned with is whether the referees got the call right in the realms of the rules. 

Our teams's analysis will focus on determining whether there is bias towards particular players or teams for referee calls during the previously mentioned last two minutes. We will be augmenting our base data set with additional attributes indicating whethere a player's status is all-star or not. Are all-star players treated differently? Do officials have a tendency to get more calls right or wrong when it comes to all-star players? Answering these questions can help with training and teaching of referees of their biases.

In [1]:
# Import Libraries
import numpy as np
import pandas as pd

import matplotlib as plt
# allow inline graphics from matplotlib
%matplotlib inline       

import seaborn as sns 

import warnings 
warnings.simplefilter('ignore', DeprecationWarning)

In [3]:
# read data previously pulled from...and saved to csv
df = pd.read_csv("data/all_games.csv")

df.head()

,period,time,seconds_left,call_type,committing_player,disadvantaged_player,review_decision,comment,video,game_id,...,ref_1,ref_2,ref_3,score_away,score_home,original_pdf,box_score_url,disadvantaged_team,committing_team,ref_made_call
0,Q4,0:01:52,112.0,Foul: Shooting,Josh Smith,Kevin Love,CNC,Smith (HOU) does not make contact with Love (C...,http://official.nba.com/last-two-minute-report...,20150301CLEHOU,...,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,L2M-CLE-HOU-3-1-15.pdf,https://www.basketball-reference.com/boxscores...,CLE,HOU,NaN
1,Q4,0:01:43,103.0,Foul: Shooting,J.R. Smith,James Harden,CC,Smith (CLE) makes contact with the body of Har...,http://official.nba.com/last-two-minute-report...,20150301CLEHOU,...,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,L2M-CLE-HOU-3-1-15.pdf,https://www.basketball-reference.com/boxscores...,HOU,CLE,NaN
2,Q4,0:01:32,92.0,Foul: Shooting,Trevor Ariza,LeBron James,CC,Ariza (HOU) makes contact with the shoulder of...,http://official.nba.com/last-two-minute-report...,20150301CLEHOU,...,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,L2M-CLE-HOU-3-1-15.pdf,https://www.basketball-reference.com/boxscores...,CLE,HOU,NaN
3,Q4,0:01:09,69.0,Foul: Loose Ball,Terrence Jones,Tristan Thompson,CC,Jones (HOU) makes contact with the arm of Thom...,http://official.nba.com/last-two-minute-report...,20150301CLEHOU,...,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,L2M-CLE-HOU-3-1-15.pdf,https://www.basketball-reference.com/boxscores...,CLE,HOU,NaN
4,Q4,0:00:53,53.0,Foul: Shooting,Tristan Thompson,Josh Smith,CNC,Smith (HOU) loses the ball as he goes up for t...,http://official.nba.com/last-two-minute-report...,20150301CLEHOU,...,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,L2M-CLE-HOU-3-1-15.pdf,https://www.basketball-reference.com/boxscores...,HOU,CLE,NaN

In [4]:
# drop unecessary columns
#   video: web link to a video of call or non call, not relevant to analysis
#   original_pdf: pdf file name, not relevant to analysis
#   box_score_url: url, scores are already in separate columns
#   comment: text describing the violation, we will not be performing any NLP in this analysis
#   ref_made_call: names only exist in 0.8% of the data

df = df.drop(columns=['video','original_pdf','box_score_url','comment','ref_made_call'], axis=1)

df.head()
#df['committing_player'].unique().tolist()
#df['disadvantaged_player'].unique().tolist()

,period,time,seconds_left,call_type,committing_player,disadvantaged_player,review_decision,game_id,play_id,away,home,date,ref_1,ref_2,ref_3,score_away,score_home,disadvantaged_team,committing_team
0,Q4,0:01:52,112.0,Foul: Shooting,Josh Smith,Kevin Love,CNC,20150301CLEHOU,20150301CLEHOU-0,CLE,HOU,20150301,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,CLE,HOU
1,Q4,0:01:43,103.0,Foul: Shooting,J.R. Smith,James Harden,CC,20150301CLEHOU,20150301CLEHOU-1,CLE,HOU,20150301,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,HOU,CLE
2,Q4,0:01:32,92.0,Foul: Shooting,Trevor Ariza,LeBron James,CC,20150301CLEHOU,20150301CLEHOU-2,CLE,HOU,20150301,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,CLE,HOU
3,Q4,0:01:09,69.0,Foul: Loose Ball,Terrence Jones,Tristan Thompson,CC,20150301CLEHOU,20150301CLEHOU-3,CLE,HOU,20150301,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,CLE,HOU
4,Q4,0:00:53,53.0,Foul: Shooting,Tristan Thompson,Josh Smith,CNC,20150301CLEHOU,20150301CLEHOU-4,CLE,HOU,20150301,Tony Brown,Dan Crawford,Michael Smith,103.0,105.0,HOU,CLE

### NaN Check
The "disadvantaged_player" column has the majority of missing values in this dataframe. We know that not all of these entries are fouls so it would make sense there are no "committing_team", "disadvantaged_team", "committing_player" or "disadvantaged_player" in some instances. However, there should always be at least 2 referees per contest. Let's dig deeper...

In [5]:
# Missing values sort descending
df_percent = df.isna().sum()/len(df)*100 # Percent of total 'NaN' rows by column
df_percent.sort_values(ascending=False)

disadvantaged_player    16.281411
review_decision          6.416375
committing_team          5.927970
disadvantaged_team       5.927970
committing_player        5.387369
ref_3                    0.503318
ref_2                    0.205056
ref_1                    0.205056
score_home               0.134218
score_away               0.134218
call_type                0.003728
time                     0.000000
seconds_left             0.000000
away                     0.000000
game_id                  0.000000
play_id                  0.000000
home                     0.000000
date                     0.000000
period                   0.000000
dtype: float64

There may have been games with only 2 referees

In [6]:
#df['ref_1'] = np.nan

#df

In [7]:
# Create new dataframe with NaN rows removed
# Only remove NA values that are in the columns listed in the subset. If at least 1 NaN then remove
# Still need to handle ref_1, ref_2, ref_3 columns differently. Delete rows if all 3 ref columns are missing 
df_NoNaN = df.dropna(subset=['disadvantaged_player','review_decision','committing_player',
                            'score_home','score_away','call_type']) 

# comparing NEW (df) vs OLD (df2) dataframes 
print("Old data frame length:", len(df), "\nNew data frame length:",  
       len(df_NoNaN), "\nNumber of rows with at least 1 NA value: ", 
       (len(df)-len(df_NoNaN)),"\nPercent of total rows lost to NA values:",
     (len(df)-len(df_NoNaN))/len(df))

Old data frame length: 26822
New data frame length: 22083
Number of rows with at least 1 NA value:  4739
Percent of total rows lost to NA values: 0.17668331966296325

### NBA_api Connection Attemps

In [8]:
# Get dataframe of all players and player id's

from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()

# Convert dictionary to dataframe
df_nba_players = pd.DataFrame.from_dict(nba_players)

df_nba_players.head()

  first_name            full_name     id  is_active     last_name
0       Alaa       Alaa Abdelnaby  76001      False     Abdelnaby
1       Zaid      Zaid Abdul-Aziz  76002      False    Abdul-Aziz
2     Kareem  Kareem Abdul-Jabbar  76003      False  Abdul-Jabbar
3    Mahmoud   Mahmoud Abdul-Rauf     51      False    Abdul-Rauf
4      Tariq    Tariq Abdul-Wahad   1505      False   Abdul-Wahad

In [9]:
from nba_api.stats.static import playerprofile
nbaPlayers = players.get_players()

ImportError: cannot import name 'playerprofile'

In [10]:
# Create list of player id's needed to pass through endpoint 
player_id_list = df_nba_players['id'].unique().tolist()

In [11]:
# Get game specific stats with player_id and game_id

#playergamelog require playter id in api request
from nba_api.stats.endpoints import playergamelog 

nba_gamelogs = playergamelog.PlayerGameLog(player_id='203076', season='2018-19',
                                             season_type_all_star='Regular Season')

#Return dataframe
nba_gamelogs.get_data_frames()

[   SEASON_ID  Player_ID     Game_ID     GAME_DATE      MATCHUP WL  MIN  FGM  \
 0      22018     203076  0021801099  MAR 24, 2019  NOP vs. HOU  L   21    6
 1      22018     203076  0021801056  MAR 18, 2019    NOP @ DAL  W   21    8
 2      22018     203076  0021801036  MAR 16, 2019  NOP vs. PHX  L   22    6
 3      22018     203076  0021801010  MAR 12, 2019  NOP vs. MIL  L   21    9
 4      22018     203076  0021800995  MAR 10, 2019    NOP @ ATL  L   21    6
 5      22018     203076  0021800971  MAR 06, 2019  NOP vs. UTA  L   21    6
 6      22018     203076  0021800956  MAR 04, 2019    NOP @ UTA  W   22    7
 7      22018     203076  0021800932  MAR 01, 2019    NOP @ PHX  W   21    7
 8      22018     203076  0021800921  FEB 27, 2019    NOP @ LAL  L   21   10
 9      22018     203076  0021800906  FEB 25, 2019  NOP vs. PHI  L   21    8
 10     22018     203076  0021800874  FEB 22, 2019    NOP @ IND  L   20    6
 11     22018     203076  0021800866  FEB 14, 2019  NOP vs. OKC  W   16    5
 12     22018     203076  0021800851  FEB 12, 2019  NOP vs. ORL  L   24    1
 13     22018     203076  0021800831  FEB 09, 2019    NOP @ MEM  L   34    4
 14     22018     203076  0021800823  FEB 08, 2019  NOP vs. MIN  W   25   11
 15     22018     203076  0021800677  JAN 18, 2019    NOP @ POR  L   36    9
 16     22018     203076  0021800663  JAN 16, 2019    NOP @ GSW  L   41   11
 17     22018     203076  0021800650  JAN 14, 2019    NOP @ LAC  W   39   16
 18     22018     203076  0021800633  JAN 12, 2019    NOP @ MIN  L   36   10
 19     22018     203076  0021800612  JAN 09, 2019  NOP vs. CLE  W   37   11
 20     22018     203076  0021800595  JAN 07, 2019  NOP vs. MEM  W   35   14
 21     22018     203076  0021800579  JAN 05, 2019    NOP @ CLE  W   29    6
 22     22018     203076  0021800557  JAN 02, 2019    NOP @ BKN  L   42   12
 23     22018     203076  0021800528  DEC 29, 2018  NOP vs. HOU  L   39    6
 24     22018     203076  0021800523  DEC 28, 2018  NOP vs. DAL  W   43   20
 25     22018     203076  0021800509  DEC 26, 2018    NOP @ DAL  L   34   14
 26     22018     203076  0021800492  DEC 23, 2018    NOP @ SAC  L   40    7
 27     22018     203076  0021800478  DEC 21, 2018    NOP @ LAL  L   39   12
 28     22018     203076  0021800462  DEC 19, 2018    NOP @ MIL  L   29   10
 29     22018     203076  0021800441  DEC 16, 2018  NOP vs. MIA  L   39   10
 30     22018     203076  0021800411  DEC 12, 2018  NOP vs. OKC  W   40   16
 31     22018     203076  0021800393  DEC 10, 2018    NOP @ BOS  L   38   17
 32     22018     203076  0021800387  DEC 09, 2018    NOP @ DET  W   26    2
 33     22018     203076  0021800374  DEC 07, 2018  NOP vs. MEM  L   36   10
 34     22018     203076  0021800363  DEC 05, 2018  NOP vs. DAL  W   34   10
 35     22018     203076  0021800349  DEC 03, 2018  NOP vs. LAC  L   39   10
 36     22018     203076  0021800338  DEC 02, 2018    NOP @ CHA  W   37   14
 37     22018     203076  0021800324  NOV 30, 2018    NOP @ MIA  L   41   15
 38     22018     203076  0021800312  NOV 28, 2018  NOP vs. WAS  W   34    9
 39     22018     203076  0021800298  NOV 26, 2018  NOP vs. BOS  L   37    8
 40     22018     203076  0021800269  NOV 23, 2018    NOP @ NYK  L   32   12
 41     22018     203076  0021800253  NOV 21, 2018    NOP @ PHI  L   41    4
 42     22018     203076  0021800246  NOV 19, 2018  NOP vs. SAS  W   32   13
 43     22018     203076  0021800228  NOV 17, 2018  NOP vs. DEN  W   38   10
 44     22018     203076  0021800222  NOV 16, 2018  NOP vs. NYK  W   40   16
 45     22018     203076  0021800208  NOV 14, 2018    NOP @ MIN  L   41    9
 46     22018     203076  0021800192  NOV 12, 2018    NOP @ TOR  W   40   11
 47     22018     203076  0021800176  NOV 10, 2018  NOP vs. PHX  W   36    7
 48     22018     203076  0021800159  NOV 07, 2018  NOP vs. CHI  W   37   13
 49     22018     203076  0021800144  NOV 05, 2018    NOP @ OKC  L   38    7
 50     22018     203076  0021800130  NOV 03, 2018    NOP @ SAS  L   40    5
 51     22018     203076  0021800108  OCT 31, 2018    NOP @ GSW  L   41    6
 52     22018     203076  0021800072  OCT 26, 2018  NOP vs. BKN  W   38    6
 53     22018     203076  0021800050  OCT 23, 2018  NOP vs. LAC  W   40   11
 54     22018     203076  0021800022  OCT 19, 2018  NOP vs. SAC  W   27    8
 55     22018     203076  0021800009  OCT 17, 2018    NOP @ HOU  W   39   13

     FGA  FG_PCT       ...         DREB  REB  AST  STL  BLK  TOV  PF  PTS  \
 0    14   0.429       ...            5   10    1    1    1    1   0   12
 1    11   0.727       ...            4    6    5    1    1    3   1   20
 2    11   0.545       ...           10   11    0    3    1    2   1   15
 3    16   0.563       ...            6   12    2    0    2    2   2   21
 4    10   0.600       ...            7    8    4    1    4    4   1   15
 5    12   0.500       ...            3    5    3    1    2    1   3   16
 6    14   0.500       ...            8   11    3    3    3    1   2   15
 7    11   0.636       ...            7    8    3    2    3    4   2   17
 8    14   0.714       ...            3    8    2    0    0    3   2   22
 9    14   0.571       ...            4    6    2    2    3    1   2   18
 10   11   0.545       ...            3    7    4    1    1    2   0   15
 11   10   0.500       ...            4    4    2    1    1    2   1   14
 12    9   0.111       ...            6    6    0    0    3    0   1    3
 13    8   0.500       ...           14   16    6    2    2    2   4   14
 14   15   0.733       ...            7    9    2    0    3    2   3   32
 15   17   0.529       ...            5    7    2    0    1    1   4   27
 16   26   0.423       ...           15   18    7    1    3    2   2   30
 17   34   0.471       ...           11   16    4    3    1    1   4   46
 18   22   0.455       ...           10   14    2    0    1    3   5   30
 19   17   0.647       ...            7   13    7    2    4    1   1   38
 20   20   0.700       ...           12   13    3    2    3    2   2   36
 21   12   0.500       ...            7   10    3    4    2    1   3   20
 22   25   0.480       ...           21   26    4    1    3    1   3   34
 23   13   0.462       ...            9   11    1    3    1    1   0   22
 24   32   0.625       ...           10   17    4    2    2    1   3   48
 25   26   0.538       ...           15   18    2    1    1    2   4   32
 26   20   0.350       ...           15   17    4    2    4    1   2   26
 27   23   0.522       ...           15   20    5    0    1    1   2   30
 28   18   0.556       ...           11   11    3    2    3    3   2   27
 29   19   0.526       ...            9   12    7    3    3    1   1   27
 30   32   0.500       ...           12   18    2    2    1    3   5   44
 31   34   0.500       ...            4    7    2    4    0    0   1   41
 32    7   0.286       ...            7    9    4    0    5    1   1    6
 33   21   0.476       ...            9   11    3    2    4    3   4   25
 34   20   0.500       ...            4    4    9    2    5    2   2   27
 35   18   0.556       ...           10   13    5    3    3    2   3   23
 36   19   0.737       ...           15   19    8    2    2    4   4   36
 37   23   0.652       ...            8    9    2    1    4    2   2   41
 38   21   0.429       ...           11   15    3    1    2    3   1   28
 39   19   0.421       ...           12   16    5    3    3    5   2   27
 40   19   0.632       ...            8   11    4    0    0    0   3   33
 41   13   0.308       ...           10   16    6    5    5    6   3   12
 42   22   0.591       ...            6    9    4    2    2    2   1   29
 43   20   0.500       ...            4    8    8    0    1    0   4   40
 44   25   0.640       ...           13   17    5    1    1    2   2   43
 45   25   0.360       ...            9   11    2    2    4    0   2   29
 46   20   0.550       ...           12   20    6    0    2    4   4   25
 47   18   0.389       ...            9   13    6    1    2    1   2   26
 48   24   0.542       ...           13   15    7    1    4    4   2   32
 49   20   0.350       ...            4    8    1    0    1    5   2   20
 50   13   0.385       ...            8    8    3    2    5    3   3   17
 51   16   0.375       ...            9   12    7    0    1    2   3   17
 52   19   0.316       ...           10   14    3    4    5    1   4   18
 53   21   0.524       ...            8   13    2    1    5    0   3   34
 54   12   0.667       ...            6   10    6    2    2    4   1   25
 55   21   0.619       ...           14   16    8    3    3    1   5   32

     PLUS_MINUS  VIDEO_AVAILABLE
 0           -6                1
 1            2                1
 2            0                1
 3          -10                1
 4            2                1
 5          -18                1
 6           -1                1
 7            4                1
 8            4                1
 9            1                1
 10          -1                1
 11          10                1
 12         -16                1
 13           2                1
 14          22                1
 15         -25                1
 16         -12                1
 17           1                2
 18           1                1
 19          12                1
 20          24                1
 21          19                1
 22           4                1
 23           0                1
 24           2                1
 25         -12                1
 26          -3                1
 27          -9                1
 28         -13                1
 29          -2                1
 30           7                1
 31         -18                1
 32          10                1
 33          -9                1
 34          11                1
 35           5                1
 36          14                1
 37           9                1
 38          23                1
 39         -12                1
 40          -6                1
 41          -7                1
 42           7                1
 43          11                1
 44          10                1
 45           6                1
 46          17                1
 47          26                1
 48           8                1
 49         -18                1
 50          -5                1
 51          -2                1
 52           5                1
 53          15                1
 54          21                1
 55          23                1

 [56 rows x 27 columns]]

### Duplicates

In [12]:
# Which player_id should we use for duplicate records?
# Check to see which players and how many times duplicated.

print("Duplicate Summary:",
      "\nNumber of duplicate id:", df_nba_players.duplicated(['id']).sum(),
      "\nNumber of duplicate full_name:", df_nba_players.duplicated(['full_name']).sum(),
      "\nNumber of duplicate id AND full_name:", df_nba_players.duplicated(['id','full_name']).sum(),
      "\nNumber of duplicate rows:", df_nba_players.duplicated().sum())

Duplicate Summary:
Number of duplicate id: 0
Number of duplicate full_name: 36
Number of duplicate id AND full_name: 0
Number of duplicate rows: 0

In [13]:
# Create dataframe Only keep last player_id, full_name row/record

# df_nba_players_deftable_1 = df_nba_players.drop_duplicates(['full_name'], keep='last', inplace=False)

# df_nba_players_deftable_1.info()

In [14]:
df_nba_players['full_name'].unique()

array(['Alaa Abdelnaby', 'Zaid Abdul-Aziz', 'Kareem Abdul-Jabbar', ...,
       'Bill Zopf', 'Ivica Zubac', 'Matt Zunic'], dtype=object)

In [15]:
# Need to join id to original dataframe. 
# Need to use some combination of player_id and game_id to merge individual player states for that game


#df_nba_players['full_name'].value_counts()
#df_nba_players.groupby['full_name'].value_counts()

test = df_nba_players.groupby('full_name')

print(test.filter(lambda x: x['full_name'].value_counts()>1))

     first_name         full_name       id  is_active  last_name
482         Dee         Dee Brown      244      False      Brown
483         Dee         Dee Brown   200793      False      Brown
887     Charlie     Charlie Davis    76518      False      Davis
888     Charlie     Charlie Davis    76519      False      Davis
902        Mark        Mark Davis      707      False      Davis
903        Mark        Mark Davis    76528      False      Davis
1041        Bob         Bob Duffy    76609      False      Duffy
1042        Bob         Bob Duffy    76610      False      Duffy
1051       Mike     Mike Dunleavy     2399      False   Dunleavy
1052       Mike     Mike Dunleavy    76616      False   Dunleavy
1159    Patrick     Patrick Ewing      121      False      Ewing
1160    Patrick     Patrick Ewing   201607      False      Ewing
1522       Matt       Matt Guokas    76908      False     Guokas
1523       Matt       Matt Guokas    76909      False     Guokas
1671     Cedric  Cedric Henderson     1538      False  Henderson
1672     Cedric  Cedric Henderson    76990      False  Henderson
1674     Gerald  Gerald Henderson    76993      False  Henderson
1675     Gerald  Gerald Henderson   201945      False  Henderson
1903       Mike        Mike James     2229      False      James
1904       Mike        Mike James  1628455      False      James
1949      Chris     Chris Johnson   202419      False    Johnson
1950      Chris     Chris Johnson   203187      False    Johnson
1960      Eddie     Eddie Johnson      698      False    Johnson
1961      Eddie     Eddie Johnson    77144      False    Johnson
1965     George    George Johnson    77147      False    Johnson
1966     George    George Johnson    77148      False    Johnson
1967     George    George Johnson    77149      False    Johnson
1976        Ken       Ken Johnson     2256      False    Johnson
1977        Ken       Ken Johnson    77154      False    Johnson
1979      Larry     Larry Johnson      913      False    Johnson
...         ...               ...      ...        ...        ...
2146     George       George King  1628994       True       King
2700       Tony     Tony Mitchell   203183      False   Mitchell
2701       Tony     Tony Mitchell   203502      False   Mitchell
3040        Jim        Jim Paxson    77818      False     Paxson
3041        Jim        Jim Paxson    77819      False     Paxson
3262       Glen         Glen Rice      779      False       Rice
3263       Glen         Glen Rice   203318      False       Rice
3409     Walker    Walker Russell    78048      False    Russell
3410     Walker    Walker Russell   201041      False    Russell
3607       Bill        Bill Smith    78207      False      Smith
3608       Bill        Bill Smith    78209      False      Smith
3611    Charles     Charles Smith      293      False      Smith
3612    Charles     Charles Smith     1520      False      Smith
3613    Charles     Charles Smith    78179      False      Smith
3614      Chris       Chris Smith     1814      False      Smith
3615      Chris       Chris Smith   203147      False      Smith
3627       Greg        Greg Smith    78190      False      Smith
3628       Greg        Greg Smith   202962      False      Smith
3642    Michael     Michael Smith       63      False      Smith
3643    Michael     Michael Smith    78197      False      Smith
3653     Steven      Steven Smith      120      False      Smith
3654     Steven      Steven Smith   200848      False      Smith
3945       Jack       Jack Turner    78380      False     Turner
3946       Jack       Jack Turner    78382      False     Turner
4245     Marcus   Marcus Williams   200766      False   Williams
4246     Marcus   Marcus Williams   201173      False   Williams
4256     Reggie   Reggie Williams      199      False   Williams
4257     Reggie   Reggie Williams   202130      False   Williams
4339      Chris      Chris Wright   202874      False     Wright
4340      Chris      Chris Wright   203203      False     Wright

[70 rows x 5 columns]

In [16]:
#df['committing_player_v2'] = df['committing_player'].astype(str)

In [17]:
df = pd.merge(df, df_nba_players[['id']], left_on='committing_player', right_on='full_name', how='left')

KeyError: 'full_name'